@Model Asignatura

@{
    ViewData["Title"] = "Información Asignatura";
}

<div class="text-center">
    <h1 class="display-1">Asignatura: @Model.UniqueId</h1>
    <h2 class="display-1">Nombre: @Model.Nombre</h2>
</div>
