@Model IEnumerable<Asignatura>

@{
    ViewData["Title"] = "Información Asignatura ForEach";
}

@foreach (var asig in @Model)
{
    <div class="text-center">
        <h1 class="">Asignatura: @asig.Id</h1>
        <h2 class="">Nombre: @asig.Nombre</h2>
    </div>    
}

