@Model IEnumerable<Asignatura>

@{
    ViewData["Title"] = "Información Asignatura ForEach";
}

<table class="table">
    <thead>
        <tr>
        <th scope="col">Nombre</th>
        <th scope="col">ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asig in @Model)
        {
            <tr>
                <td>@asig.Nombre</td>
                <td>@asig.Id</td>
            </tr>
        }
    </tbody>
</table>

